@tailwind base;
@tailwind components;
@tailwind utilities;



h1 {
    font-size:4.5rem;
    font-weight: 700;
}

h2 {font-size: 2rem;}

main {
    max-width: 1986px;
    margin: 0 auto;
}

main .wrapper {
    width: 100%;
    padding:20px;
}