@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$gold: #EECC7A;

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    max-width: 1986px;
    margin: 0 auto;
}

main .wrapper {
    width: 100%;
    padding: 20px;
    max-width: 1986px;
    margin: 0 auto;
}