.section_main {
    margin-top: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    font-family: 'Aboreto', sans-serif;
    background-color: red;

}

.face_massage {
    background-image: url('../../assets/tlo1.png');

    height: 400px;
}

.classic_massage {
    background-image: url('../../assets/tlo2.png');

    height: 400px;
}

.before_massage {
    background-image: url('../../assets/tlo3.png');

    height: 400px;
}