@import '../../styles/media';
.section_title {
    color: rgb(6, 6, 92);

    h2 {
        font-size: 42px;
        margin-bottom: 20px;

        @include tablet{
            color: red;
        }

        @include desktop {
            color: green;
        }
    }

    P {
        font-size: 22px;
    }

    &::after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: goldenrod;
        display: block;
    }

}