.massage {
    width: 66%;
    padding-top: 10px;

    span {
        color: rgb(199, 25, 199);

        &.icon_wrapper {
            margin-right: 10px;
        }
    }

    p {
        font-family: 'Roboto', sans-serif;
        font-size: 1.25rem;
        margin-top: 10px;
    }

    h3 {
        color: goldenrod;
        margin-bottom: 15px;
    }
}