.massage {
    width: 66%;

    span {
        color: rgb(199, 25, 199);
    }

    p {
        font-family: 'Roboto', sans-serif;
        font-size: 1.25rem;
    }

    h3 {
        color: goldenrod;
    }
}